<%= form_for(@group_event) do |f| %>
  <% if @group_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_event.errors.count, "error") %> prohibited this group_event from being saved:</h2>

      <ul>
      <% @group_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grp_event_name %><br />
    <%= f.text_field :grp_event_name %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
