<center><h1>Group Event winners</h1></center>

<%= form_tag(new_event_winner_path, method: 'get') do %>
  

      <div class="panel-body row col-sm-offset-2" >


          <!--Event-->
          <div class="form-group col-md-8">
            
              <div class="col-sm-3 label-control">
                      <%= label_tag :"Event Name" %>
              </div>
              
              <div class="col-sm-5">
                 <%= collection_select( :grp_event_winner,:group_event_id, GroupEvent.all, :id, :grp_event_name , { :prompt => "Please Select" },{ :class => "form-control"} ) %> 
                
              </div>

          </div>
          
          
        </div>
          <br><br>

          <div class="table-responsive">
                  <div class="col-xs-8 ">
                    <table class="table table-bordered table-hover table-striped" align="centre">
                        <thead>
                            <tr>
                                <th>Group Event</th>
                                <th>Age Group</th>
                                <th>First</th>
                                <th>Second</th>
                                <th>Third</th>
                                <th>Fourth</th>
                                <th>Fifth</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% @final.each do |l| %> 
                              <tr>
                                  <td><b><%= l[0] %></b></td>
                                  <td><%= l[1] %></td>
                                  <td><%= l[2]%></td>
                                  <td><%= l[3]%></td>
                                  <td><%= l[4]%></td>
                                  <td><%= l[5]%></td>
                                  <td><%= l[6]%></td>
                              </tr>
                            
                            <% end %>
                
                        </tbody>
                    </table>
                </div>
<% end %>
           
        </div>
