<h3 align="center"><strong>Race Timing for Group Events</strong></h3>


<%= form_for(@race_timing_grp_evnt) do |f| %>
  <% if @race_timing_grp_evnt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race_timing_grp_evnt.errors.count, "error") %> prohibited this race_timing_grp_evnt from being saved:</h2>

      <ul>
      <% @race_timing_grp_evnt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        
      

<br><br>

<!--% @members.each do |member|%--> 
  <!--%if member.event_name === @evnt && member.age_grp === @age %-->

      <div class="table-responsive" >
          <div class="col-xs-8 col-xs-offset-2">
                  <table class="table table-bordered table-hover table-striped ">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Minutes</th>
                                <th>Present</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                          <% @mname.each do |name| %>
                            <tr>
                                <%= f.hidden_field :member_id, :value => i%>
                                <%= f.hidden_field :event_id, :value => params[:race_timing_grp_evnt][:event_id]%>
                                <%= f.hidden_field :age_group, :value => params[:age]%>
                                <td><%= name %></td>
                                <td><%= f.text_field :gtime, :class => 'form-control' %></td>
                                
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                  <div class="control-group">
            <!-- Button -->
            <div class="controls span7 text-center">
              <button class="btn btn-success">Submit</button>
            </div>
                </div>
                
        </div>
    
<%end%>
