<h3 align="center"><strong>Race Timing For Group Events</strong></h3>
<!--form-->

<%= form_tag(gshow_timing_path, method: 'get') do %>
  

   <br><br>
      <div class="panel-body" align="center">
        
        <!--Age group-->
        <div class="form-group">
          
          <div class="col-sm-3 label-control">
                  <%= label_tag :"Age Group" %>
          </div>
          
          <div class="col-sm-3">
            <%= collection_select( :race_timing_grp_evnt,:gage, CompetetionLevel.all, :id, :age_group , { :prompt => "Please Select" },{ :class => "form-control"} ) %> 
          </div>


        </div>

          <br><br><br>

          <!--Event-->
          <div class="form-group">
          
          <div class="col-sm-3 label-control">
                  <%= label_tag :"Event Name" %>
          </div>
          
          <div class="col-sm-3">
             <%= collection_select( :race_timing_grp_evnt,:group_event_id, GroupEvent.all, :id, :grp_event_name , { :prompt => "Please Select" },{ :class => "form-control"} ) %> 
            
          </div>

        </div>

          <br><br><br>
          
          
        </div>
        <center><%= submit_tag "Search", :class => 'btn btn-primary' %></center>
      <% end %>

  </div>
  


