<center><h1>Event winners</h1></center>

<div id = "page-wrapper" >

<%= form_for(@event_winner) do |f| %>
      
 
          <div class="table-responsive">
                 <div class = " centered ">
                    <table class="table table-bordered table-hover table-striped" align="centre">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Age Group</th>
                                <th>First</th>
                                <th>Second</th>
                                <th>Third</th>
                                <th>Fourth</th>
                                <th>Fifth</th>
                            </tr>
                        </thead>

                        <tbody>
    <% @final.each do |l| %> 
                            <tr>
                                <td><b><%= l[0] %><b></td>
                                <td><%= l[1] %></td>
                                <td><%= l[2]%></td>
                                <td><%= l[3]%></td>
                                <td><%= l[4]%></td>
                                <td><%= l[5]%></td>
                                <td><%= l[6]%></td>
                            </tr>
                            
        <% end %>
                        </tbody>
                    </table>
                
<% end %>
</div>
</div>
     <div class = "row">  
    <center><h4><%= link_to "Download Pdf",download_pdf_path(:format => "pdf"),:target => "_blank", :id => "pdf_link" %></h4></center>
    
        </div>
</div>
