<center><h1>Event winners</h1></center>

<%= form_for(@event_winner) do |f| %>
  

      <div class="panel-body row col-sm-offset-2" >


          <!--Event-->
          <div class="form-group col-md-8">
            
              <div class="col-sm-3 label-control">
                      <%= f.label :"Event Name" %>
              </div>
              
              <div class="col-sm-5">
                 <%= collection_select( :event_winner,:event_id, Event.all, :id, :event_name , { :prompt => "Please Select" },{ :class => "form-control"} ) %> 
                
              </div>

          </div>
          
          
        </div>
          <br><br>


          <div class="table-responsive">
                  <div class="col-xs-8 ">
                    <table class="table table-bordered table-hover table-striped" align="centre">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Age Group</th>
                                <th>First</th>
                                <th>Second</th>
                                <th>Third</th>
                            </tr>
                        </thead>

                        <tbody>
    <% @final.each do |l| %> 
                            <tr>
                                <td><%= l[0] %></td>
                                <td><%= l[1] %></td>
                                <td><%= l[2]%></td>
                                <td><%= l[3]%></td>
                                <td><%= l[4]%></td>
                            </tr>
                            
        <% end %>
                        </tbody>
                    </table>
                </div>
<% end %>
           
        </div>
