<%= form_for(@competetion_level) do |f| %>
  <% if @competetion_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competetion_level.errors.count, "error") %> prohibited this competetion_level from being saved:</h2>

      <ul>
      <% @competetion_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body ">
    <div class="well ">
      
      <fieldset>
        <div id="legend">
          <legend class=""><strong>Age Group Form</strong></legend>
        </div>

        <div class="form-group">
          <div class="col-sm-2 label-control">
            <%= f.label :"Age Group" %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :age_group, :placeholder => "Enter Age Group", :class => 'form-control' %>
          </div>
        </div>
    </div>
  </div>
 
  <br><br>

  <div class="form-group">     
          <div class="control-group">
            <!-- Button -->
            <div class="controls span7 text-center">
              <button class="btn btn-success">Submit</button>
              <%= link_to 'Back', events_path ,:class=>"btn btn-success"%>
            </div>
          </div>
        </div>
<% end %>
