<h1>Listing competetion_levels</h1>

<table>
  <tr>
    <th>Comp name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competetion_levels.each do |competetion_level| %>
  <tr>
    <td><%= competetion_level.comp_name %></td>
    <td><%= link_to 'Show', competetion_level %></td>
    <td><%= link_to 'Edit', edit_competetion_level_path(competetion_level) %></td>
    <td><%= link_to 'Destroy', competetion_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competetion level', new_competetion_level_path %>
