
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>TaranPushkar</title>
  <%= wicked_pdf_stylesheet_link_tag "bootstrap.css" -%>
<%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= wicked_pdf_javascript_include_tag "" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body >
    
	<div id = "wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Taran Pushkar</a>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <i></i><%= link_to 'Dashboard', members_path, :class =>"fa fa-dashboard" %>
                    </li>
                                 
                        <li>
                        <!-- <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a> -->
                        <i></i><%= link_to 'Forms', new_member_path, :class => "fa fa-edit" %>
                    </li>
                    <li class>
                        <i></i><%= link_to 'Race timings', race_timing_grp_evnts_path, :class =>"fa fa-table" %>
                    </li>     
                    <li>
                       <i></i><%= link_to 'Results', event_winners_path, :class =>"fa fa-table" %>
                    </li>
                             
                    <li>
                       <i></i><%= link_to 'Add new', events_path, :class =>"fa fa-edit" %>
                    </li>                                                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        
		<%= yield %>
	</div>
</body>
</html>
