<%= form_for(@member, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="modal-body">
    <div class="well">
      <fieldset>
        <div id="legend">
          <legend class=""><strong>Registration Form</strong></legend>
        </div>
        
        <div class="form-group">
          <!-- Competition-level -->
          <div class="col-sm-2 label-control">
                  <%= f.label :Competition_level %>
          </div>
          <!-- <label class="col-md-2 label-control"  for="competition_level">Competition Level</label> -->
          <div class="col-sm-4">
            <%= f.select( :comp_name, options_for_select([ "Select","District","State","National"]), {} , {:class => "form-control"}) %>
          </div>
        </div>
        

        <div class="form-group">
          <div class="col-sm-2 label-control">
            <%= f.label :Name %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :name, :placeholder => "Enter Full Name", :class => 'form-control' %>
          </div>
        </div>
            <!-- Name Field -->
       
        <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :Dob %>
              </div>
              <div class="col-sm-4">
                <%= f.text_field(:dob, :placeholder => "Select Your Date Of Birth" ,:'data-behaviour' => 'datepicker', :class => "form-control fa fa-calendar")%>
                                
                <script type="text/javascript">
                  $('[data-behaviour~=datepicker]').datepicker({
                    "format": "yyyy-mm-dd",
                    "weekStart": 1,  
                    "maxDate" : 0,                  
                    "autoclose": true
                    }).on('changeDate', function(e) {});

                </script>

              </div>
            </div>
             
            <!-- Date Of Birth -->


            <div class="form-group">
          <!-- Competition-level -->
          <div class="col-sm-2 label-control">
                  <%= f.label :"Age Group" %>
          </div>
          <!-- <label class="col-md-2 label-control"  for="competition_level">Competition Level</label> -->
          <div class="col-sm-4">
            <%= collection_select( :member,:competetion_level_id, CompetetionLevel.all, :id, :age_group , { :prompt => "Please Select" },{ :class => "form-control"} ) %> 
          </div>
        </div>
              
                     
          <div class="form-group">
              <div class="col-sm-2 label-control">          
                <%= f.label :Gender %>
              </div>     
                  
              <div class="btn-group col-sm-4" >   
                <%= f.radio_button :gender, 'male' %>
                <%= label :Gender, 'Male' %>
                <%= f.radio_button :gender, 'female' %>
                <%= label :Gender, 'Female' %>
                <%= f.radio_button :gender, 'other' %>
                <%= label :Gender, 'Other' %>
                <p class="help-block"> Select Your Gender </p>
              </div>
              
              <span class="col-sm-offset-2 col-sm-10">        
              
              </span>
            </div>
            <!-- Gender Field -->
     
        <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :District %>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :district, :placeholder => "Enter District", :class => 'form-control' %>
                </div>
            </div>
            <!-- District Field -->

        <div class="form-group">
              <div class="col-sm-2 label-control">
                <%= f.label :State %>
              </div>
              <div class="col-sm-4">
                <%= f.select( :state, options_for_select([ "Select", "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha" , "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal"]),{}, { :class => "form-control genForm_dropBox"} )%>
                
                <p class="help-block"> Select State </p>
              </div>
            </div>
            <!-- State Field -->

        <div class="form-group">
                <div class="col-sm-2 label-control">
                  <%= f.label :"School/Club Name" %>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :schl_club_name, :placeholder => "Enter School/Club Name", :class => 'form-control' %>
                </div>
            </div>
            <!-- School/Club Field -->
  
         
         <div class="form-group">
          <!-- Event selection -->
          <div class="col-sm-2 label-control">
                  <%= f.label "Event" %>
                </div>
          <div class="col-sm-4">
              <%=collection_select(:events, :id , Event.all, :id, :event_name, {} ,{ :multiple => 'true', :id => 'events'})%>
          </div>
        </div>
         

        <div class="form-group">
          <!-- Group Event selection -->
          <div class="col-sm-2 label-control">
                  <%= f.label "Group Event " %>
                </div>
              <div class="col-sm-4">
          <%=collection_select(:members, :id , GroupEvent.all, :id, :grp_event_name, {} ,{ :multiple => 'true', :id => 'group_events'})%>
          </div>
        </div>



        <div class="form-group">     
          <div class="control-group">
            <!-- Button -->
            <div class="controls span7 text-center">
              <button class="btn btn-success">Register</button>
              <%= button_tag "Reset", type: :reset, :class => "btn btn-success" %>
            </div>
          </div>
        </div>

        <script>
        $('#events').multipleSelect({
            width: 400,
            maxHeight: 400,
            placeholder: "Select Events"
        }).addClass('form-control');
        
        $('#group_events').multipleSelect({
            width: 400,
            placeholder: "Select Group Events"
        });
        </script>


      </fieldset>
    </div>
  </div>

  <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
      
<% end %>

