<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @member.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>District:</strong>
  <%= @member.district %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>

<p>
  <strong>School name or club name:</strong>
  <%= @member.school_name_or_club_name %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
