<h1>Event Details</h1>

<%= form_for(@race_timing_ind_evnt, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @race_timing_ind_evnt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race_timing_ind_evnt.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @race_timing_ind_evnt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div role="tabpanel">
    <div class="tab-content"> 
      <div class="panel-body">
        <div class="form-group">
          
          <div class="col-sm-2 label-control">
                  <%= f.label :"Age Group" %>
          </div>
          <!-- <label class="col-md-2 label-control"  for="competition_level">Competition Level</label> -->
          <div class="col-sm-4">
            <%= f.select( :age, options_for_select([ "Under 14","Under 16","Under 18","Under 19"]), {} , {:class => "form-control"}) %>
          </div>
        </div>
      </div>
      </div>
      </div>
<% end %>
<%= link_to 'New Race timing ind evnt', new_race_timing_ind_evnt_path %>
