<h3 align="center"><strong>Race Timing for Individual Events</strong></h3>
<!--form-->

<%= form_for(@race_timing_ind_evnt) do |f| %>
  <% if @race_timing_ind_evnt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@race_timing_ind_evnt.errors.count, "error") %> prohibited this race_timing_ind_evnt from being saved:</h2>

      <ul>
      <% @race_timing_ind_evnt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
      
      

<br><br>

<%= @mem.each do |i| %>
  

      
                <div class="table-responsive">
                  <div class="col-xs-8 col-xs-offset-2">
                    <table class="table table-bordered table-hover table-striped" align="centre">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Minutes</th>
                                <th>Seconds</th>
                                <th>MicroSeconds</th>
                                <th>Present</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%=i.name%></td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control' %></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <tr>
                                <td>Name2</td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control' %></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <tr>
                                <td>Name3</td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control' %></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <tr>
                                <td>Name4</td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control' %></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <tr>
                                <td>Name5</td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control' %></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <tr>
                                <td>Name6</td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control' %></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <tr>
                                <td>Name7</td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control'%></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr>
                            <tr>
                                <td>Name8</td>
                                <td><%= f.text_field :minute, :class => 'form-control' %></td>
                                <td><%= f.text_field :second, :class => 'form-control' %></td>
                                <td><%= f.text_field :micro_second, :class => 'form-control'%></td>
                                <td><%= check_box_tag("", "", true, class: "checkbox") %></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
        </div>
<%end%>
<%end%>

