<h1>Listing race_timing_ind_evnts</h1>

<table>
  <tr>
    <th>Minute</th>
    <th>Second</th>
    <th>Micro second</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @race_timing_ind_evnts.each do |race_timing_ind_evnt| %>
  <tr>
    <td><%= race_timing_ind_evnt.minute %></td>
    <td><%= race_timing_ind_evnt.second %></td>
    <td><%= race_timing_ind_evnt.micro_second %></td>
    <td><%= link_to 'Show', race_timing_ind_evnt %></td>
    <td><%= link_to 'Edit', edit_race_timing_ind_evnt_path(race_timing_ind_evnt) %></td>
    <td><%= link_to 'Destroy', race_timing_ind_evnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Race timing ind evnt', new_race_timing_ind_evnt_path %>
