<p id="notice"><%= notice %></p>

<p>
  <b>Minute:</b>
  <%= @race_timing_ind_evnt.minute %>
</p>

<p>
  <b>Second:</b>
  <%= @race_timing_ind_evnt.second %>
</p>

<p>
  <b>Micro second:</b>
  <%= @race_timing_ind_evnt.micro_second %>
</p>

<%= @mem %>
<%= link_to 'Edit', edit_race_timing_ind_evnt_path(@race_timing_ind_evnt) %> |

